<div id="<%= dom_id forecast %>">
  <p>
    <strong>Zipcode:</strong>
    <%= forecast.zipcode %>
  </p>

  <p>
    <strong>Todays temp:</strong>
    <%= forecast.todays_temp %>
  </p>

  <p>
    <strong>High temp:</strong>
    <%= forecast.high_temp %>
  </p>

  <p>
    <strong>Low temp:</strong>
    <%= forecast.low_temp %>
  </p>

</div>
